/* .navbar.header {
    transition: all 300ms ease-in-out;
} */

body {
    display: block;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    min-height: 100%;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.w-nav {
    background: #dddddd;
}

* {
    box-sizing: border-box;
}

.container.header-container {
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    flex: 1;
}

.logo.container {
    margin-top: 0px;
    z-index: 1;
}

.logo {
    position: relative;
    z-index: 1;
    width: 201px;
    height: auto;
    margin-top: 18px;
    margin-left: 0px;
}

.nav-menu {
    margin-top: 18px;
    color: #fff;
    display: block;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.hero-section.section-purple {
    left: auto;
    min-height: auto;
    margin-top: -80px;
    padding-top: 140px;
    padding-bottom: 110px;
    border: 0px none transparent;
    border-radius: 0px;
    background-color: #331a5c;
    background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.hero-section {
    position: relative;
    width: 100%;
    height: auto;
    background-clip: border-box;
}

.container-2 {
    max-width: 1200px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    content: "";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.div-block.centered {
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.image-2 {
    width: 100%;
    max-width: 610px;
    margin-bottom: 30px;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 48px;
    line-height: 54px;
    font-weight: 500;
    text-align: center;
}

.paragraph.white.centered {
    max-width: 560px;
}

.paragraph.centered.white {
    margin-right: auto;
    margin-left: auto;
    float: none;
    color: #fff;
}

.paragraph.centered {
    text-align: center;
}

.paragraph {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.4px;
}

p {
    margin-top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.primary-button.web-app-ga-track {
    margin-right: auto;
    margin-left: auto;
}

.primary-button {
    min-width: 215px;
    padding: 0px 16px;
    float: none;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(254, 144, 0, 0);
    border-radius: 3px;
    background-color: #fe9000;
    transition: border 300ms ease;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.44px;
    text-indent: 1.44px;
    text-transform: uppercase;
    white-space: nowrap;
    background-clip: padding-box;
    object-fit: fill;
}

.w-button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.heading-secondary {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #434146;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section.section-white {
    display: block;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #fff;
    margin: auto;
}

.section {
    position: relative;
}

.grid-3 {
    max-width: 880px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
    -webkit-box-align: center;
    align-items: center;
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
}

.quote {
    display: block;
    max-width: 734px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
}

.italic-text {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.section-green {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url("https://www.kastapp.co/images/green-bg.jpg");
    background-position: 0px 0px;
    background-size: cover;
    color: #fff;
}

.heading-2.heading-white {
    margin-bottom: 60px;
    color: #fff;
}

.heading-2 {
    margin-top: 0px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    text-align: center;
}

.container-3 {
    max-width: 1200px;
}

.div-block-2.what-is-kast-text.centered {
    text-align: center;
}

.text-div.centered {
    padding-left: 0px;
}

.div-block-2.what-is-kast-text {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.featured-paragraph {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 34px;
    text-align:center;
}

